<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>start</key>
	<string>pos_1</string>
	<key>pos_1</key>
	<dict>
		<key>level</key>
		<string>MainMenu/Background.ExportJson</string>
		<key>next</key>
		<string>pos_2</string>
		<key>time</key>
		<string>10</string>
	</dict>
	<key>pos_2</key>
	<dict>
		<key>level</key>
		<string>MainMenu/StoryMap.ExportJson</string>
		<key>next</key>
		<string>pos_3</string>
		<key>time</key>
		<string>300</string>
	</dict>
	<key>pos_3</key>
	<dict>
		<key>level</key>
		<string>MainMenu/Background.ExportJson</string>
		<key>next</key>
		<string>pos_4</string>
		<key>time</key>
		<string>300</string>
	</dict>
	<key>pos_4</key>
	<dict>
		<key>level</key>
		<string>MainMenu/Background.ExportJson</string>
		<key>next</key>
		<string>pos_1</string>
		<key>time</key>
		<string>300</string>
	</dict>
</dict>
</plist>
