# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
# Other
#*.exe
*.ilk
*.tlog
*.obj
*.user
*.opensdf
*.sdf
*.suo
*.idb
*.pdb
/_build_win32/
/dev/project/win32/Debug/
/dev/project/win32/ipch/
/dev/project/win32/Debug.win32/
/_build_win32_debug

/dev/project/Test/Debug
/libs/tinyxml/Debug

*.pyc

/dev/project/win32/bin/Debug

/dev/project/win32/UpgradeLog.XML

/dev/project/win32/_UpgradeReport_Files
/libs/loki/lib/loki_D.lib
/libs/loki/src/Debug
/data/cocosStudio/MainMenu/Backup
/data/cocosStudio/MainMenu/Resources/resources
/data/cocosStudio/animation/spider/Backup
/data/cocosStudio/animation/spider/Export
/dev/project/ios/HungryChameleon.xcodeproj/project.xcworkspace
/dev/project/ios/HungryChameleon.xcodeproj/xcuserdata

*.DS_Store
/dev/project/win32/Release
/dev/project/win32/Release.win32
__pycache__
